@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    font-family: 'poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

nav{
    position: fixed;
    background-color: black;
    width: 100%;
    padding: 10px 0;
    z-index: 12;
}
nav .menu{
    
    max-width: 1250px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}
.menu .logo a{
    text-decoration: none;
    color: aliceblue;
    font-size: 35px;
    font-weight: 600;
}
.menu ul{
    display: inline-flex;
}
.menu ul li{
    list-style: none;
    margin-left: 9px;
}
.menu ul li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 6px;
    transition: all 0.4s ease;
}
.menu ul li a:hover{
    background-color: white;
    color: black;
}

.img{
background: url(apasih.jpg) no-repeat;
width: 1005;
height: 100vh;
background-position: center;
background-size: cover;
position: relative;

}

.img::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 10, 0);
}
.center{
    width: 100%;
    position: absolute;
    top: 52%;
    left: 50%;
    padding: 0 20px;
    text-align: center;
    transform: translate(-50%, -50%);
}
.center .title{
    color: aliceblue;
    font-size: 52px;
    font-weight: 600; 
}
.center .btn{
    margin-top: 20px;
}
.center .btn button{
height: 55px;
width: 170px;
border-radius: 6%;
border: none;
margin: 0 10px;
border: 2px solid white;
font-size: 20px;
font-weight: 500;
padding: 0 10px;
transition: all 0.6s ease;
outline: none;
cursor: pointer;
}
.center .btn button:hover{
    color: #fff;
    background: none;
}
